{% load static %}
<header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Galery</a></li>
        <li class="dropdown"><a href="{% url 'portfolio' %}"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            {% for category in categorys %}
            <li><a href="{% url 'portfolio_detail' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </header>